.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: rgb(46, 53, 58);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 91%);
    font-size: 0.9em;
}
.dropdown a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    border-radius: 5px;
}
.dropdown .content{
    background-color: rgb(243, 243, 243);
    min-width: 100px;
    position: absolute;
    box-shadow: 2px 2px 5px rgb(220, 220, 220);
    display: none;
    border-radius: 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown a:hover{
    background-color: rgb(222, 222, 222);
}
