body{
    background-color: rgb(223, 187, 139);
}
h1{
    background-color: blanchedalmond;
    border-radius: 10px;
}
.container{
    height: 100vh;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 4px;
}
.box{
    height: 100px;
    width: 145px;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    background-color: azure;
    float: left;
    box-sizing: border-box;
    
}